.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 20px 5px 20px;
}

.article {
  width: calc(100% / 3 - 20px);
  box-sizing: border-box;
  margin: 0px 10px 5px 10px;
  background-color: lightgray;
  cursor: pointer;
}

.thumbnail {
  height: 150px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}